/* src/pages/home.css */


.home-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin-inline: auto;
    }
  
  .hero-left {
    flex: 1;
  }

  .hero-left {
    flex: 1;
    margin-left: -1.5rem; 
  }
  
  
  .hero-left h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    line-height: 1.4;
    color:#333333

  }

  
  .hero-left p {
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color:#333333
  }
  
  .cta-btn {
    padding: 0.6rem 1.2rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.2rem;
    
  }
  
  .hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .hero-right img {
    max-height: 28rem;
    width: 100%;
    max-width: 31.25rem; /* 500px */
    object-fit: cover;
    border-radius: 0.75rem; /* 12px */
  }
  