/* src/pages/home.css */
.home-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
    margin-top: 80px;
    max-width: 1200px;
    margin-inline: auto;
  }
  
  .hero-left {
    flex: 1;
  }
  
  .hero-left h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero-left p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
  }
  
  .cta-btn {
    padding: 0.6rem 1.2rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    
  }
  
  .hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .hero-right img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    border-radius: 12px;
  }
  