/* src/styles/navbar.css */
*{
  margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.6);
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  }
  
  .navbar-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .logo-container .logo-image:hover{
    cursor: pointer;
  }
  
  .logo-image {
    height: 30px;
    width: auto;
  }
  
  .logo-text {
    font-weight: bold;
    color: #d72638;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
  }
  
  .nav-link {
    text-decoration: none;
    color: #222;
    font-weight: normal;
    position: relative;
    font-family: "Times New Roman", Times, serif;
    padding : 0.5rem 0;
    font-size: 17px;
  }
  
  .nav-link.active {
    font-weight: 600;
  }
  
  .contact-btn {
    background: #000;
    color: #fff !important;
    padding: 0.4rem 1rem;
    border-radius: 6px;
  }
  